<div>
    <p class="mb-0">
        <a  class="text mx-2 mi-boton" style="text-decoration: none;" (click)="move('nombre-section')">Inicio</a>
        <a  class="text mx-2 mi-boton" style="text-decoration: none;" (click)="move('experiencia-section')">Experiencia</a>
        <a class="text mx-2 mi-boton" style="text-decoration: none;" (click)="move('trabajos-section')">Proyectos</a>
        <a class="text mx-2 mi-boton" style="text-decoration: none;" (click)="move('sobremi-section')">Sobre mi</a>
    </p>
    <p class="mb-0">Sígueme en:
        <a href="https://www.tiktok.com/@seronuwu" class="text-white ms-2" target="_blank"><i class="fab fa-tiktok"></i> </a> |
        <a href="https://www.instagram.com/seron_javier/" class="text-white ms-2" target="_blank"><i class="fab fa-instagram"></i> </a>
    </p>
    <p class="mb-0">&copy; 2024 Javier Serón. Todos los derechos reservados.</p>
</div>
