.text {
    color: aliceblue;
    font-size: 12px;
    font-family: 'Public Pixel', sans-serif;
  }
  .mi-boton {
    color: white;
    cursor: pointer;
  }

  .mi-boton:hover {
    color: aqua;
  }

  @media (max-width: 768px) {
    .foot {
      font-size: 1px;
      justify-content: center;
    }
  }