<div class="d-none d-lg-block">

  <nav class="navbar navbar-expand-lg bg-transparent ">
    <div class="container-fluid d-flex align-items-center justify-content-end">
      <div class="col-xxl-7 col-xl-8 col-lg-9 d-flex align-items-center justify-content-center">
        <a class="nav-link text mi-boton mx-2"  role="button" (click)="move('nombre-section')">Inicio</a>
        <a class="nav-link text mi-boton mx-2"  role="button" (click)="move('experiencia-section')">Experiencia</a>
        <a class="nav-link text mi-boton mx-2"  role="button" (click)="move('trabajos-section')">Proyectos</a>
        <a class="nav-link text mi-boton mx-2"  role="button" (click)="move('sobremi-section')">Sobre mi</a>
      </div>
    </div>
  
    </nav>
</div>
  <div class="d-block d-lg-none">
    <nav class="navbar navbar-expand-lg fixed-top bg-transparent"  style="margin-top: 10px;">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" style="color: #ffffff;" (click)="closeBar()">
          <i class="fa-solid fa-bars fa-lg" style="color: #ffffff;"></i>
        </button>

        
        </div>
        @if (showBar) {
  
          <div class="collapse navbar-collapse show" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link text mi-boton"  role="button" (click)="move('nombre-section')" (click)= "showBar ? closeBar() : null">Inicio</a>
                <a class="nav-link text mi-boton"  role="button" (click)="move('experiencia-section')" (click)= "showBar ? closeBar() : null">Experiencia</a>
                <a class="nav-link text mi-boton"  role="button" (click)="move('trabajos-section')" (click)= "showBar ? closeBar() : null">Proyectos</a>
                <a class="nav-link text mi-boton"  role="button" (click)="move('sobremi-section')" (click)= "showBar ? closeBar() : null">Sobre mi</a>
              </li>
            </ul>
          </div>
        }
    </nav>
  </div>
  