<div class="d-none d-lg-block">

    <div class="row align-items-center">
        <div class="col-12 text-center mb-3">
            <p class="text">Sobre mi</p>
        </div>
        <div class="profile-header col-4 d-flex justify-content-end">
            <img class="profile-image" src="me.png" alt="Profile Image">
        </div>
        <div class="profile-container col-8 d-flex justify-content-start">
            <div class="profile-content text-center">
                <div class="about-section" style="color: white;">
                    <p style="text-align: justify;">
                     Soy ingeniero civil en telecomunicaciones, apasionado por el desarrollo de software y la ciencia de datos. Me destaco por ser una persona
                     responsable, proactiva y perseverante, especializado como desarrollador backend y data engineer.
                    </p>
                    <p style="text-align: justify;">
                        Fuera de la tecnología, me gusta jugar videojuegos, escuchar música, ir al gym y leer libros de terror.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-block d-lg-none">
    <div class="row align-items-center">
        <div class="col-12 text-center mb-3">
            <p class="text">Sobre mi</p>
        </div>
        <div class="profile-container col-12">
            <div class="profile-content2 text-center ">
                <div class="about-section" style="color: white;">
                    <p style="text-align: justify;">
                     Soy ingeniero civil en telecomunicaciones, apasionado por el desarrollo de software y la ciencia de datos. Me destaco por ser una persona
                     responsable, proactiva y perseverante, especializado como desarrollador backend y data engineer.
                    </p>
                    <p style="text-align: justify;">
                        Fuera de la tecnología, me gusta jugar videojuegos, escuchar música, ir al gym y leer libros de terror.
                    </p>
                </div>
            </div>
        </div>
        <div class="profile-header col-12 d-flex justify-content-center">
            <img class="profile-image" src="me.png" alt="Profile Image">
        </div>
    </div>
</div>
