<navbar class="d-flex justify-content-end" style="margin-right: 150px; margin-top: 50px;"></navbar>
<nombre></nombre>
<!-- <experiencia class="container d-flex justify-content-center" style="margin-top: 500px;"></experiencia>
<app-trabajos class="container d-flex justify-content-center" style="margin-top: 500px;"></app-trabajos>
<sobremi class="container d-flex justify-content-center" style="margin-top: 500px;"></sobremi> -->
<!-- <footer class="bg-transparent text-white text-center  mt-auto">
  <div class="container">
      <p class="mb-0">
          <a  class="text mx-2" style="text-decoration: none;">Inicio</a>
          <a  class="text mx-2" style="text-decoration: none;">Experiencia</a>
          <a class="text mx-2" style="text-decoration: none;">Proyectos</a>
          <a class="text mx-2" style="text-decoration: none;">Sobre mi</a>
      </p>
      <p class="mb-0">&copy; 2024 Javier Serón. Todos los derechos reservados.</p>
  </div>
</footer> -->
<app-particles></app-particles>

