<div class="row d-flex justify-content-center">

    <div class="col-12 d-flex justify-content-center my-3">
        <p class="text">
        <i class="fa-solid fa-code" style="color: #ffffff; font-size: 30px;"></i> Proyectos</p>
    </div>
    <div class="project">
        <h2 class="title" style="text-align: justify;">Página web | Maderas Lawal</h2>
        <p class="description" style="text-align: justify;">
          Desarrollo de página web como catálogo especializado en materiales de construcción, diseñado para simplificar la búsqueda y cotización de productos.
        </p>
        
        <div class="tags">
          <span class="tag">Java</span>
          <span class="tag">Springboot</span>
          <span class="tag">Angular</span>
          <span class="tag">TypeScript</span>
          <span class="tag">MySQL</span>
        </div>
      
        <a href="https://maderaslawal.cl" class="link" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square" style="color: #ffffff;"></i> Official Website</a>
      
        <hr class="separator" />
      
        <h2 class="title" style="text-align: justify;">Análisis de movilidad basado en datos de telefonía móvil en el Gran Concepción | City Lab Bío-Bío</h2>
        <p class="description" style="text-align: justify;">
          Desarrollo de un sistema que analiza datos de telefonía móvil para visualizar patrones de desplazamiento y predecir modos de transporte en el Gran Concepción, usando teoría de grafos y machine learning. Procesa y limpia datos de conexión móvil, genera visualizaciones de movimiento basadas en torres de antena y rutas de Google Maps, y permite obtener información clave sobre distancias, velocidades promedio y rutas más transitadas.
        </p>
      
        <div class="tags">
          <span class="tag">Python</span>
          <span class="tag">Pandas</span>
          <span class="tag">Ploty</span>
          <span class="tag">Numpy</span>
          <span class="tag">Scikit-Learn</span>
          <span class="tag">Scipy</span>
          <span class="tag">Networkx</span>
        </div>
        <a href="https://getbackseron.com:8080/MT_Javier_Seron_Guzman.pdf" class="link" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square" style="color: #ffffff;"></i> Más información aqui!!</a>
        
      </div>
      
      
</div>

